.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>:not(:last-child) {
    margin-right: 5%;
  }

  &__logo {
    width: 64px;
    height: 80px;
  }

  &__current-page {
    display: none;
  }

  &__toggles {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .Header {
    &__logo {
      width: 37px;
      height: 37px;
    }

    &__current-page {
      display: block;
      width: 100%;
    }
  }
}
