.Layout {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1140px;
  height: 100vh;

  &__main {
    flex-grow: 1;
    margin: 2% 0;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .Layout {
    height: 85vh;

    &__main {
      padding-top: 0;
    }
  }
}