.Displays {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background-color);
  border: 3px solid white;
  border-radius: 15px;

  font-size: var(--text-md);
  font-family: var(--main-font);
  font-weight: bold;

  &_active {
    background: var(--active-color);

    color: black;
    font-size: var(--text-base-size);
  }
}