:root[data-theme="light"] {
  .Button {
    --btn-text-active: var(--foreground-color);
    --background: linear-gradient(325.94deg, #F1ECF5 20.02%, #F3F3F3 81.32%);
    --primary-background: linear-gradient(319.3deg, #6F63AD 7.43%, rgba(111, 99, 173, 0.73) 85.1%);
    --primary-box-shadow: 0px 0px 17px var(--secondary-color);
  }
}

:root[data-theme="dark"] {
  .Button {
    --btn-text-active: var(--background-color);
    --background: linear-gradient(279.85deg, #212D3F 0%, #222831 100%, #374554 100%);
    --primary-background: linear-gradient(281.43deg, #00ADB5 6.48%, #199399 85.33%);
    --primary-box-shadow: 0px 0px 17px var(--secondary-color);
  }
}

.Button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 62px;
  border: 0px;
  border-radius: 30px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-family: var(--main-font);
  font-size: var(--base-text-size);
  font-weight: 700;
  color: var(--foreground-color);
  background: var(--background);
  box-shadow: var(--shadow);

  text-transform: uppercase;
  cursor: pointer;
  transition: transform .2s, background .2s;

  &:hover {
    transform: translateY(-0.05em);
    box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.55);

    .Button__text {
      margin-right: 30px;
    }

    .Button__delete {
      visibility: visible;
      opacity: 1;
    }
  }

  &:active {
    transform: scale(.95);
  }

  &:disabled {
    color: var(--gray-color);
    transform: none;
    cursor: default;

    &:hover {
      box-shadow: var(--shadow);
    }

    .Button {
      &__icon {
        svg {
          fill: var(--gray-color);
        }
      }
    }
  }

  &__icon {
    position: absolute;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 62px;
    width: 62px;
    padding: 10px;
    border: 0;
    border-radius: 50%;

    background: var(--background);
    box-shadow: var(--shadow);

    svg {
      height: 20px;
      width: 20px;
      fill: var(--foreground-color);
    }
  }

  &__text {
    transition: margin-right .3s;
  }

  &:not(&__item) &__text {
    margin-left: 26px;
  }

  &__delete {
    position: absolute;
    right: 10px;

    display: flex;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;

    svg {
      width: 36px;
      height: 36px;
      border-radius: 50%;

      opacity: 20%;
      transition: opacity .3s, fill .4s;

      &:hover {
        fill: var(--secondary-color);
        opacity: 100%;
      }
    }
  }

  &__item {
    height: 62px;
    border-radius: 15px;

    &_active {
      background: var(--active-color);
      color: var(--btn-text-active);
    }
  }

  &__primary {
    background: var(--primary-background);
    color: white;
    box-shadow: none;

    .Button__icon {
      background: var(--primary-background);

      svg {
        fill: white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Button {
    &:hover {
      transform: none;
      box-shadow: var(--shadow);
    }

    &:active {
      transform: scale(.9);
    }

    &__delete {
      visibility: visible;
      opacity: 1;
    }

    &__text {
      margin-right: 30px;
    }

    &:disabled {
      &:active {
        transform: none;
      }
    }

    &__primary:hover {
      box-shadow: none;
    }

    &:not(&__item, &_no-response) {
      width: 62px;
    }

    &:not(&__item, &_no-response) &__text {
      display: none;
    }
  }
}