.NumberInput {

  &__label {
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;

    font-size: var(--text-base-size);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      height: 21px;
      width: 14px;
      opacity: 0.5;
      cursor: pointer;
    }

    &::-webkit-outer-spin-button:hover,
    &::-webkit-inner-spin-button:hover {
      opacity: 1;
    }
  }
}