.Checkbox {
  input[type="checkbox"] {
    position: relative;

    display: flex;

    width: 30px;
    height: 30px;
    border: 1px solid var(--gray-color);
    border-radius: 50%;

    color: black;
    appearance: none;
    outline: 0;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }

    &::before {
      content: '';
      position: absolute;
      top: 16%;
      left: 32%;

      display: block;

      width: 35%;
      height: 50%;
      border-style: solid;
      border-color: white;
      border-width: 0 4px 4px 0;

      transform: rotate(45deg);
      opacity: 0;
    }

    &:checked {
      border-color: var(--gray-color);

      color: white;
      background: var(--gray-color);

      &::before {
        opacity: 1;
      }
    }
  }
}