.PomodoroControls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__upBtns {
    display: flex;
    width: 100%;

    margin-bottom: 20px;

    &>* {
      width: 100%;
    }

    &>*:not(:first-child) {
      width: 100%;
      margin-left: 20px;
    }

  }

  &__downBtns {
    display: flex;
    width: 50%;

    &>*:not(:first-child) {
      width: 100%;
      margin-left: 20px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .PomodoroControls {
    position: absolute;
    bottom: 140px;
    flex-wrap: nowrap;

    z-index: 13;

    &__upBtns {
      display: flex;
      width: auto;

      margin-bottom: 0;
      margin-right: 20px;

      &>*:not(:first-child) {
        width: 62px;
        margin-left: 0;
      }
    }

    &__downBtns {
      display: flex;
      width: auto;

      &>*:not(:first-child) {
        width: 62px;
        margin-left: 20px;
      }
    }

    &__mainBtn {
      width: auto;
      position: fixed;
      bottom: calc(90px - 37px);
      left: calc(50% - 37px);
      z-index: 11;

      background-color: var(--background-color);
      box-shadow: none;
      border: 6px solid var(--background-color);
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -22px;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-top-right-radius: 20px;
        box-shadow: 0 -10px 0 0 var(--background-color);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -22px;
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-top-left-radius: 20px;
        box-shadow: 0 -10px 0 0 var(--background-color);
      }
    }
  }
}