.Modal {
  z-index: 999;
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 20px 20px;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.6);

  .content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    width: 96vw;
    height: 90vh;
    padding: 40px 50px;
    border: 4px solid var(--foreground-color);
    border-radius: 20px;

    overflow: scroll;

    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 2rem;

    &__close {
      position: absolute;
      top: 15px;
      right: 15px;

      width: 24px;
      height: 24px;

      fill: var(--foreground-color);
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    >*:not(.content__close) {
      width: 50%;
      min-width: 290px;
      max-width: 600px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Modal {
    z-index: 9;
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    padding: 0;
    overflow: hidden;

    .content {
      position: relative;

      padding: 40px 20px;
      margin-bottom: 10%;
      width: 98%;
      height: 85%;

      border: 4px solid var(--foreground-color);
      border-radius: 20px;

      background-color: var(--background-color);
      color: var(--foreground-color);
      font-size: 2rem;

      >*:not(.content__close) {
        min-width: 290px;
        max-width: 600px;
        width: 80%;
      }
    }

  }
}