.TodoPage {
  display: flex;
  height: 75vh;

  &__lists {
    flex-basis: 350px;
    flex-grow: 0;

    padding: 0 10px;
  }

  &__sep {
    margin: 0 20px;
    height: 100%;
    min-width: 2px;

    background-color: var(--gray-color);
  }

  &__todos {
    width: 100%;
    padding: 20px 20px 10px 10px;
  }

  &__openBtn {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .TodoPage {
    margin: 0 -15px;

    &__lists {
      display: none;
    }

    &__sep {
      display: none;
    }

    &__todos {
      padding: 10px;
    }


    &__openBtn {
      z-index: 11;
      position: fixed;
      bottom: calc(90px - 37px);
      left: calc(50% - 37px);

      display: block;
      border: 6px solid var(--background-color);
      border-radius: 50%;

      background-color: var(--background-color);
      box-shadow: none;

      &::before {
        content: "";
        position: absolute;
        top: 50%;

        left: -22px;
        width: 20px;
        height: 20px;
        border-top-right-radius: 20px;

        background-color: transparent;
        box-shadow: 0 -10px 0 0 var(--background-color);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -22px;

        width: 20px;
        height: 20px;
        border-top-left-radius: 20px;

        background-color: transparent;
        box-shadow: 0 -10px 0 0 var(--background-color);
      }
    }
  }
}

@media only screen and (max-height: 500px) {
  .TodoPage {
    &__openBtn {
      display: none;
    }
  }
}