.ClockPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .ClockPage {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}