.ClockPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  .cities {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .ClockPage {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}