.PomodoroPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .progress {
    width: 100%;
    height: 14px;
    border-radius: 10px;

    &::-moz-progress-bar,
    ::-webkit-progress-bar {
      border-radius: 10px;
    }

    &[value] {
      &::-webkit-progress-value {
        border-radius: 10px;
      }
    }
  }

  .displays {
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 600px;


    display: flex;
    flex-direction: column;

    &>*:first-child {
      height: 230px;
    }

    &__sub {
      display: flex;
      height: 54px;

      &>*:last-child {
        width: 54px;
        font-size: var(--text-base-size);
        background-color: #212D3F;
        color: #EEEEEE;

      }
    }
  }

  .controls {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;

    &__mainBtn {}
  }
}

@media only screen and (max-width: 768px) {
  .PomodoroPage {
    .controls {

      min-width: 0;

      position: absolute;
      bottom: 140px;

      z-index: 13;

      &__mainBtn {
        position: fixed;
        bottom: calc(90px - 37px);
        left: calc(50% - 37px);
        z-index: 11;

        background-color: var(--background-color);
        box-shadow: none;
        border: 6px solid var(--background-color);
        border-radius: 50%;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -22px;
          width: 20px;
          height: 20px;
          background-color: transparent;
          border-top-right-radius: 20px;
          box-shadow: 0 -10px 0 0 var(--background-color);
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -22px;
          width: 20px;
          height: 20px;
          background-color: transparent;
          border-top-left-radius: 20px;
          box-shadow: 0 -10px 0 0 var(--background-color);
        }
      }
    }
  }
}