.StopwatchPage {
  display: flex;
  justify-content: center;
  gap: 40px;

  height: 100%;
  padding: 50px 15% 0;

  &__controls {
    align-self: flex-start;

    min-width: 200px;
    max-width: 400px;
  }

  &__displays {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 768px) {
  .StopwatchPage {
    padding: 30px 5% 0;

    &__controls {
      z-index: 13;
      position: absolute;
      bottom: 140px;

      min-width: 0;
    }
  }
}