.Modal {
  position: fixed;
  inset: 0;

  padding: 40px 20px 20px;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 999;

  .modal {
    &__content {
      padding: 40px 50px;
      width: 70%;
      height: 70%;
      background-color: var(--background-color);
      border: 4px solid var(--foreground-color);
      border-radius: 20px;

      color: var(--foreground-color);
      font-size: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      overflow: scroll;

      position: relative;

      >*:not(.modal__close) {
        min-width: 400px;
      }
    }

    &__close {
      width: 24px;
      height: 24px;

      cursor: pointer;
      fill: var(--foreground-color);
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .Modal {
    position: fixed;
    inset: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    z-index: 9;

    .modal {
      &__content {
        width: 90%;
        height: 80%;
        margin-bottom: 10%;
        background-color: var(--background-color);
        border: 4px solid var(--foreground-color);
        border-radius: 20px;

        color: var(--foreground-color);
        font-size: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
      }
    }
  }
}