.ProgressBar {
  background-color: var(--background-color);
  border-radius: 15px;

  &__bar {
    height: 100%;
    background-color: var(--secondary-color);

    border-radius: 15px;
    transition: width 1s;
  }
}