.AnalogClock {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  position: relative;
  z-index: 100;
}

.time {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  position: relative;

  .hand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, 0, 0) rotate(180deg);
    transform-origin: 50% 0;

    &.seconds {
      height: 90px;
      width: 2px;
      background-color: red;
      box-shadow: -1px 0 1px black;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;

      &:after {
        position: absolute;
        content: "";
        background-color: green;
        box-shadow: 1px 0 3px black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    &.minutes {
      height: 80px;
      width: 6px;
      background-color: grey;
      box-shadow: inset 0 2px 5px black;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;

      &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 60px;
        top: 15%;
        left: 0;
        transform: translate3d(50%, -15%, 0);
        background-color: black;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
      }
    }

    &.hours {
      height: 60px;
      width: 8px;
      background-color: grey;
      box-shadow: inset 0 2px 5px black;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;

      &:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 35px;
        top: 15%;
        left: 0;
        transform: translate3d(50%, -15%, 0);
        background-color: black;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
      }
    }
  }
}

.hour-lines {
  position: absolute;
  left: 50%;
  top: 50%;
}

.hour-line {
  position: absolute;
  background: var(--foreground-color);
  height: 5px;
  width: 2px;
  border-radius: 50%;

  @for $i from 1 through 12 {
    &:nth-of-type(#{$i}) {
      transform: translate(-50%, -50%) rotate(($i - 1) * 30deg) translateY(84px);
    }
  }
}