:root[data-theme="light"] {
  --clock-background: var(--background-color);
  --clock-shadow: 11px 8px 30px rgba(0, 0, 0, 0.15), inset 0px 0px 23px rgba(0, 0, 0, 0.05);
  --circle-md-shadow: 0px 4px 28px -11px rgba(0, 0, 0, 0.25), -11px -6px 14px -14px rgba(0, 0, 0, 0.1);
  --circle-sm-shadow: 11px 2px 38px -2px rgba(0, 0, 0, 0.1);
}

:root[data-theme="dark"] {
  --clock-background: var(--navigation-menu);
  --clock-shadow: 11px 8px 30px rgba(0, 0, 0, 0.5), inset 0px 0px 23px rgba(0, 0, 0, 0.05);
  --circle-md-shadow: 0px 4px 38px -18px rgba(0, 0, 0, 0.45), -11px -6px 14px -14px rgba(0, 0, 0, 0.1);
  --circle-sm-shadow: 11px 2px 48px -11px rgba(0, 0, 0, 0.45);
}

.AnalogClock {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  position: relative;
  background: var(--clock-background);
  box-shadow: var(--clock-shadow);

  .circle-md {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: var(--circle-md-shadow);
  }

  .circle-sm {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: var(--circle-sm-shadow)
  }

  .hand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, 0, 0) rotate(180deg);
    transform-origin: 50% 0;

    &.seconds {
      height: 134px;
      width: 3px;
      border-radius: 45px;

      background-color: var(--secondary-color);
      z-index: 3;

      &:after {
        position: absolute;
        content: "";
        background-color: var(--secondary-color);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        top: 0;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    &.minutes {
      height: 97px;
      width: 5px;
      border-radius: 45px;
      background-color: var(--foreground-color);
      z-index: 1;

    }

    &.hours {
      height: 66px;
      width: 6px;
      border-radius: 45px;
      background-color: var(--active-color);
      z-index: 2;
    }
  }

  .hour-lines {
    position: absolute;
    left: 50%;
    top: 50%;

    .hour-line {
      position: absolute;
      background: var(--foreground-color);
      height: 5px;
      width: 3px;

      @for $i from 1 through 12 {
        &:nth-of-type(#{$i}) {
          transform: translate(-50%, -50%) rotate(($i - 1) * 30deg) translateY(144px);
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .AnalogClock {
    height: 260px;
    width: 260px;

    .circle-md {
      width: 180px;
      height: 180px;
    }

    .circle-sm {
      width: 50px;
      height: 50px;
    }

    .hand {
      &.seconds {
        height: 98px;
      }

      &.minutes {
        height: 72px;
      }

      &.hours {
        height: 52px;
      }
    }

    .hour-lines {
      .hour-line {
        @for $i from 1 through 12 {
          &:nth-of-type(#{$i}) {
            transform: translate(-50%, -50%) rotate(($i - 1) * 30deg) translateY(114px);
          }
        }
      }
    }
  }
}