.Controls {
  display: flex;
  flex-direction: column;

  &>*:first-child {
    margin-bottom: 30px;
  }

  &__subControls {
    display: flex;
    flex-direction: column;

    &>*:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .Controls {
    flex-direction: row;

    &>*:first-child {
      margin: 0;
    }

    &__subControls {
      flex-direction: row;

      &>*:not(:last-child) {
        margin-bottom: 0;
        margin-right: 60px;
      }
    }

    &__mainBtn {
      z-index: 11;
      position: fixed;
      bottom: calc(90px - 37px);
      left: calc(50% - 37px);

      border: 6px solid var(--background-color);
      border-radius: 50%;

      background-color: var(--background-color);
      box-shadow: none;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -22px;

        width: 20px;
        height: 20px;
        border-top-right-radius: 20px;

        background-color: transparent;
        box-shadow: 0 -10px 0 0 var(--background-color);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -22px;

        width: 20px;
        height: 20px;
        border-top-left-radius: 20px;

        background-color: transparent;
        box-shadow: 0 -10px 0 0 var(--background-color);
      }
    }
  }
}