.CitiesList {
  /* Delete scrollbar */
  overflow: scroll;
  -ms-overflow-style: none; // IE, Edge
  scrollbar-width: none;

  &::-webkit-scrollbar {
    // // Chromium
    display: none;
  }

  padding: 20px;

  border: 2px solid white;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  max-height: 55vh;

  &>* {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .CitiesList {
    margin: 0 -25px;
    flex-direction: row;
    padding: 20px 15px;

    border: none;

    &>* {
      width: 250px;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}