@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Russo+One&display=swap');

:root[data-theme="light"] {
  --background-color: #F1ECF5;
  --foreground-color: #082340;
  --secondary-color: #6F63AD;
  --navigation-menu: #082340;
  --shadow: 5px 6px 14px rgba(0, 0, 0, 0.15)
}

:root[data-theme="dark"] {
  --background-color: #212D3F;
  --foreground-color: #EEEEEE;
  --secondary-color: #199399;
  --navigation-menu: #393E46;
  --shadow: 5px 6px 14px rgba(0, 0, 0, 0.45)
}

:root {
  --active-color: #FDCA5F;
  --gray-color: #ACAABA;
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Russo One', sans-serif;
  --text-sm: 16px;
  --text-base-size: 24px;
  --text-md: 2rem;
  --text-xl: 4rem;
}


html {
  background-color: var(--background-color);
  color: var(--foreground-color);

  font-family: var(--main-font);
  font-size: var(--text-base-size);

  -webkit-tap-highlight-color: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0
}