.AllCities {
  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: var(--text-base-size);

  &>*:not(:last-child) {
    margin-bottom: 30px;
  }

}

@media only screen and (max-width: 768px) {
  .AllCities {
    align-items: flex-start;
  }
}